# Préparation des données de maintenance

Chargement des donnnées

In [1]:
import pandas as pd
import numpy  as np

#Chargement des données
maintenance = pd.read_csv("../data/raw/PdM_maint.csv")
# transformer les dates dans le bon type
maintenance["datetime"] = pd.to_datetime(maintenance["datetime"])

#Création des indexes
maintenance = maintenance.set_index(['machineID', 'datetime'])
maintenance = pd.get_dummies(maintenance["comp"])
maintenance = maintenance.groupby(["machineID","datetime"]).sum()

In [2]:
maintenance.tail(8)

                               comp1  comp2  comp3  comp4
machineID datetime
100       2015-08-26 06:00:00      0      0      0      1
          2015-09-10 06:00:00      1      0      0      0
          2015-09-25 06:00:00      1      0      0      0
          2015-10-10 06:00:00      1      0      1      0
          2015-10-25 06:00:00      0      0      0      1
          2015-11-09 06:00:00      0      0      0      1
          2015-12-09 06:00:00      0      1      0      0
          2015-12-24 06:00:00      0      1      0      0

Toutes les maintenances sont enregistrées à 06:00H, depuis le 1er Juin 2014. Pour chaque  composant, on calcule la durée en jours depuis  le dernier changement. On commence par créer les indexes machines/temps nécessaires

In [3]:
machines = pd.read_csv("../data/raw/PdM_machines.csv")

time_series = pd.date_range(start = "2014-06-01 06:00:00", end = "2016-01-01 06:00:00", freq="1D")
indexes = pd.MultiIndex.from_product([machines["machineID"].values,time_series.values], names=['machineID', 'datetime'])

On fait une jointure de ces indexes avec les données de maintenance

In [4]:
maintenance = pd.DataFrame(index = indexes).join(maintenance).fillna(0)

Une boucle pour compter les jours, pour chaque machine et chaque composants

In [5]:
days_since_maintenance1 = []
days_since_maintenance2 = []
days_since_maintenance3 = []
days_since_maintenance4 = []
for machine in machines["machineID"].values:
    days_count = 0
    for reset in maintenance.loc[machine]["comp1"]:
        days_count += 1
        days_count *= (1-reset)
        days_since_maintenance1.append(days_count)
    days_count = 0
    for reset in maintenance.loc[machine]["comp2"]:
        days_count += 1
        days_count *= (1-reset)
        days_since_maintenance2.append(days_count)
    days_count = 0
    for reset in maintenance.loc[machine]["comp3"]:
        days_count += 1
        days_count *= (1-reset)
        days_since_maintenance3.append(days_count)
    days_count = 0
    for reset in maintenance.loc[machine]["comp4"]:
        days_count += 1
        days_count *= (1-reset)
        days_since_maintenance4.append(days_count)
        
maintenance["comp1_delay"] = days_since_maintenance1
maintenance["comp2_delay"] = days_since_maintenance2
maintenance["comp3_delay"] = days_since_maintenance3
maintenance["comp4_delay"] = days_since_maintenance4

On peut effacer les colonnes comp1 à comp4. On peut maintenant restreindre aux dates à partir du 1er Janvier 2015

In [6]:
maintenance.drop(columns=["comp1","comp2","comp3","comp4"], inplace = True)

time_series = pd.date_range(start = "2015-01-01 06:00:00", end = "2016-01-01 06:00:00", freq="1D")
indexes = pd.MultiIndex.from_product([machines["machineID"].values,time_series.values], names=['machineID', 'datetime'])
maintenance = pd.DataFrame(index = indexes).join(maintenance).fillna(method = 'ffill')
maintenance.head(20)

                               comp1_delay  comp2_delay  comp3_delay  \
machineID datetime
1         2015-01-01 06:00:00         19.0        214.0        154.0
          2015-01-02 06:00:00         20.0        215.0        155.0
          2015-01-03 06:00:00         21.0        216.0        156.0
          2015-01-04 06:00:00         22.0        217.0        157.0
          2015-01-05 06:00:00          0.0        218.0        158.0
          2015-01-06 06:00:00          1.0        219.0        159.0
          2015-01-07 06:00:00          2.0        220.0        160.0
          2015-01-08 06:00:00          3.0        221.0        161.0
          2015-01-09 06:00:00          4.0        222.0        162.0
          2015-01-10 06:00:00          5.0        223.0        163.0
          2015-01-11 06:00:00          6.0        224.0        164.0
          2015-01-12 06:00:00          7.0        225.0        165.0
          2015-01-13 06:00:00          8.0        226.0        166.0
          2015-01-14 06:00:00          9.0        227.0        167.0
          2015-01-15 06:00:00         10.0        228.0        168.0
          2015-01-16 06:00:00         11.0        229.0        169.0
          2015-01-17 06:00:00         12.0        230.0        170.0
          2015-01-18 06:00:00         13.0        231.0        171.0
          2015-01-19 06:00:00         14.0        232.0        172.0
          2015-01-20 06:00:00          0.0        233.0          0.0

                               comp4_delay
machineID datetime
1         2015-01-01 06:00:00        169.0
          2015-01-02 06:00:00        170.0
          2015-01-03 06:00:00        171.0
          2015-01-04 06:00:00        172.0
          2015-01-05 06:00:00          0.0
          2015-01-06 06:00:00          1.0
          2015-01-07 06:00:00          2.0
          2015-01-08 06:00:00          3.0
          2015-01-09 06:00:00          4.0
          2015-01-10 06:00:00          5.0
          2015-01-11 06:00:00          6.0
          2015-01-12 06:00:00          7.0
          2015-01-13 06:00:00          8.0
          2015-01-14 06:00:00          9.0
          2015-01-15 06:00:00         10.0
          2015-01-16 06:00:00         11.0
          2015-01-17 06:00:00         12.0
          2015-01-18 06:00:00         13.0
          2015-01-19 06:00:00         14.0
          2015-01-20 06:00:00         15.0

In [7]:
maintenance.to_csv("../data/prepared_data/maintenance.csv")